
body{
  margin: 0;
}
#canvas {
  margin: 20px;
  background-image: url('/img/village.gif');
  border: 3px solid darkblue;
  width: 1000px;
  height: 380px;
}

#monster{
  width: 85px;
  height: 100px;
  top : -107px;
  left : 300px;
  position: relative;
  background-image:url("/img/snake_monster.png");
  animation: monster 3s infinite linear;
}

@keyframes monster {
  0%{left:1250px;}
  100%{right: -200px;}

}

#platform{
  display: none;
}

#player{
  display: none;
}

